.movie-cast-actor-card {
    width: 150px;
    height: 225px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: rgb(237, 237, 237);
}

.movie-actor-image {
    width: 150px;
    height: 225px;
    object-fit: cover;
}

.movie-cast-actor-name {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.movie-cast-small-text {
    font-size: 12px;
    color: grey;
    margin: 2px 0;
    text-align: center;
}

.movie-cast-actor-image {
    width: 100%;
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    transition: all .3s;
}

.movie-cast-actor-card:hover .movie-actor-image {
    scale: 1.05;
    transform: translate(-2.5%);
}