.favorite-empty{
    padding-top: 50px;
    min-height: 100vh;
    text-align: center;
    /* background-color: hsla(0, 0%, 100%, 0.05); */
    /* background-color: red; */
    /* max-width: 600px; */
    border-radius: 12px;
    margin: 2 auto;
}

.favorite-empty h2{
    margin-bottom: 1rem;
    font-size: 2rem;
    color: red;
}

.favorite-empty p{
    color: #999;
    font-size: 1.2rem;
    line-height: 1.6;
}