.navbar{
   

    background-color: white;
    box-shadow: 0 2px 15px hsla(0, 0%, 0%, 0.2);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar-brand img{
    height: 50px;
   
}

.navbar-links{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-link{
    
    padding: .5rem 1rem;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s;
    text-decoration: none;
    font-size: 1.2rem;
    

}

.navbar-link:hover{
    color: rgb(255, 0, 0);
}